/* AJUSTES GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url(./Imagenes/Background2.jpeg);
}

ul {
    list-style: none;
}

/* Cierre de ajustes generales */

/* BARRA DE NAVEGACION */

header {
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    /* position: fixed; */
    top: 0;
    width: 100%;
    font-weight: bold;
}

header div h1 {
    margin-left: 1em;
    /* font-family: 'Tangerine', cursive; */

}

.navega ul {
    width: 100%;
    display: flex;
    margin-right: 1em;
}

.navega a {
    text-decoration: none;
    display: block;
    width: 100%;
    margin: 15px;
    text-align: center;
    padding: 10px;
    color: white;
    /* font-weight: bold; */
}

a:hover {
    background: rgb(0, 184, 245);
}

.imagen-menu {
    width: 250px;
    height: 80px;
    position: relative;
    top: 5px;
}


/* MENU DESPLEGABLE */
.desplegable {
    position: relative;
}

.desplegable ul {
    position: absolute;
    left: 5px;
    top: 66px;
    justify-content: center;
    text-align: center;
    display: none;
}

.desplegable ul li a {
    background: rgb(0, 184, 245);
    color: white;
    font-size: 12px;
    margin: .5px;
    width: 80px;
    /* justify-content: center;
    text-align: center; */
    display: block;
    position: relative;
    right: 23px;
    z-index: 12;
    transition: width 2s, height 2s, background-color .8s, transform 2s;
}

.desplegable ul li a:hover {
    background: #666;
    color: white;
}
li a:hover{
color: white;
}
.desplegable:hover ul {
    display: flex;
    flex-direction: column;color: white;
}

.bxs-caret-down-circle {
    width: 30px;
    height: 30px;
    align-items: center;
    font-size: 25px;
}

/* Cierre de barra de navegacion */

/* SLIDE BAR */
.slides {
    padding: 0;
    width: 720px;
    height: 480px;

    display: block;
    margin: auto;
    position: relative;
    /* order: 6; */
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    /* order: 6; */
}

.slides input {
    display: none;
    /* position: absolute; */
}

.slide-container {
    display: block;
    padding: auto;
    margin-top: auto;
    /* width: 700px;
    height: 700px; */
}

.slide {
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    position: relative;
    /* right: 210px; */
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    /* background: #0df053; */
    text-align: center;
    justify-content: center;
    /* display: block; */

}

.prueba {
    margin: 0px;
    padding: 20px;
}

.nav label {
    width: 110px;
    height: 100%;
    display: none;
    position: absolute;
    /* background: #0df053; */
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    transition: opacity .2s;
    color: #FFF;
    font-size: 156pt;
    /* text-align: center; */
    /* justify-content: center; */
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(102, 102, 102, 0.3);
    top: 0;
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
    /* left: ; */
    /* right: 840px; */
}

.slide:hover+.nav label {
    opacity: 0.5;
}

.nav label:hover {
    opacity: 1;
}

.nav .next {
    right: 0;
}

.next {
    position: relative;
    left: 720px;
}

.prev {
    position: relative;
    right: 720px;
}

input:checked+.slide-container .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked+.slide-container .nav label {
    display: block;
    /* position: absolute; */
}

.nav-dots {
    width: 100%;
    bottom: 9px;
    height: 11px;
    display: block;
    position: absolute;
    text-align: center;
}

.nav-dots .nav-dot {
    top: -5px;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: relative;
    /* position: absolute; */
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked~.nav-dots label#img-dot-1,
input#img-2:checked~.nav-dots label#img-dot-2,
input#img-3:checked~.nav-dots label#img-dot-3,
input#img-4:checked~.nav-dots label#img-dot-4,
input#img-5:checked~.nav-dots label#img-dot-5,
input#img-6:checked~.nav-dots label#img-dot-6 {
    background: rgba(0, 0, 0, 0.8);
}

/* cierre de slide bar */

/* GALERIA */
.contenedor-galeria {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2em 2em;
    margin-top: 50px;
}

.titulo-galeria {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 3em;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    align-items: center;
    /* display: flex; */
    justify-content: center;
    /* position: ; */
    padding: 3.5em 0;
    /* margin-left: 30%; */
    /* margin-top: ; */

    color: #fff;
    /* order: 1; */
}


.titulo-galeria span {
    display: block;
    order: 2;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    margin: -1em -1em;
}

.galeria-item {
    flex: 1 0 24em;
    margin: 1em;
    box-shadow: 0.3em 0.4em 0.4em rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.galeria-imagen {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 400ms ease-out;
}

.galeria-imagen:hover {
    transform: scale(1.15);
}

/* cierre de galeria */

/* FOOTER */
footer {
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 30px;
    margin: auto;
    overflow: hidden;
    height: auto;
}

.contenedor-footer {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
    border-bottom: 1px #fff solid;
    padding-bottom: 40px;
}

.cont-footer {
    /* border-bottom: rgb(255, 0, 0) solid 1px; */
    text-align: center;
}

.cont-footer h4 {
    color: #FFF;
    border-bottom: #af20d3 2px solid;
    padding: 5px;
    margin-bottom: 10px;
}

.cont-footer p {
    color: #fff;
    font-size: 20px;
}

.cont-footer a {
    text-decoration: none;
}

a.a-instagram {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

footer a {
    text-decoration: none;
}

.titulo-footer {
    text-align: center;
    justify-content: center;
    /* text-transform: uppercase; */
    color: #ffffff;
    font-size: 12px;
    margin: 10px 0 0 0;
    text-decoration: none;
}

h2.titulo-footer {
    width: 150px;
}

.link-tamaño {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
}

.link-tamaño:hover {
    background-color: transparent;
}

.titulo-footer {
    font-size: 14px;
    border: 4px solid black;
    padding: 2px 2px;
    min-height: 5px;
    resize: both;
    background: #4b463333;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 3s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
}

/* Cierre de Footer */

/* BOTON FLOTANTE DE WSP */
.boton-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
    font-size: 50px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.boton-wsp:hover {
    text-decoration: none;
    color: #0df053;
    background: #fff;
}

/* cierre de boton flotante */